<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin Template - Login</title>
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/static/css/login.css" rel="stylesheet" type="text/css" />
<!-- Theme Start -->
<link href="/static/themes/blue/styles.css" rel="stylesheet" type="text/css" />
<!-- Theme End -->

</head>
<body>
	<div id="logincontainer">
    	<div id="loginbox">
        	<div id="loginheader">
            	<img src="/static/themes/blue/img/cp_logo_login.png" alt="Control Panel Login" />
            </div>
            <div id="innerlogin">
            	<form action="/index/">
                	<p>请输入用户名:</p>
                	<input type="text" class="logininput" />
                    <p>用户密码:</p>
                	<input type="password" class="logininput" />
                   
                   	<input type="submit" class="loginbtn" value="登录" /><br />
                    <p><a href="#" title="Forgoteen Password?">&nbsp;&nbsp;&nbsp;忘记密码? &nbsp;&nbsp;&nbsp; </a></p>
                </form>
            </div>
        </div>
        <img src="/static/img/login_fade.png" alt="Fade" />
    </div>
</body>
</html>